* {
    box-sizing: border-box;
}

html {
    line-height: 1.4;
    font-size: 100%;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    font-kerning: normal;
}

body { 
    margin: 0;
    font-size: 1.5rem;
    color: white;
    background-color: rgb(57, 71, 71);
  }

main {
    margin: 2.5rem;    
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 50px);
    
}

#selection {
    grid-column: 5 / 9;
    grid-row: 1 / 13;
    z-index: 2;
    display: grid;
    grid-template-rows: repeat(12, 50px);
    grid-template-columns: repeat(5, 1fr);


}

#no-of-questions {
    grid-column: 1 / 6;
    grid-row: 2 / 3;
}

#category-select {
    grid-column: 1 / 6;
    grid-row: 4 / 5;
}

#difficulty-select {
    grid-column: 1 / 6;
    grid-row: 6 / 7;
}

#modal-btn {
    grid-column: 3 / 4;
    grid-row: 8 / 9;
}

#game-div {
    visibility: hidden;
    grid-column: 2 / 12;
    grid-row: 2 / 12;
    
}